* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#encabezado {
    background-color: black;
    margin: auto;
}

#menu {
    background-color: rgb(189, 3, 3);
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    #menu {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#menu a {
    font-size: medium;
    color: white;
    text-decoration: none;
    padding: 1em;
}

#menu a:hover {
    background-color: rgb(199, 98, 98);
    color: black;
}

#contenido {
    background-color: rgb(243, 243, 243);
    max-width: 99em;
    margin: 1.3em auto 1.3em auto;
    padding-bottom: 3em;
}

#pie {
    margin: .8em 0 0 0;
    background-color: rgb(189, 3, 3);
    text-align: center; 
    font-size: 1.3em;
    font-weight: bold;
    padding: 1.3em;
    color: white;
}

.encabezadoPagina {
    text-align: center;
    color: white;
    padding: 50px;
}

.encabezadoArticulo {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 15px;
}

#marcoProductos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10em;
    row-gap: 3em;
    margin: 3em 0;
}

@media (max-width: 767px) {
    #marcoProductos {
        display: block;
        margin: 1em 0;
    }

    .imagenes {
        text-align: center;
        margin: 3em 0;
    }
}

.imagenes {
    text-align: center;
}

.producto {
    margin-bottom: 1.2em;
}

.imgProducto {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.txtProd {
    text-align: center;
    font-size: medium;
}

ul {
    padding: 15px;
    text-align: center;
}

li {
    
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

a {
    font-family: Arial;
    color: white;
    font-size: 18px;
    text-decoration: none;
}