* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#encabezado {
    background-color: black;
    margin: auto;
}

#menu {
    background-color: rgb(189, 3, 3);
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    #menu {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#menu a {
    font-size: medium;
    color: white;
    text-decoration: none;
    padding: 1em;
}

#menu a:hover {
    background-color: rgb(199, 98, 98);
    color: black;
}

#contenido {
    max-width: 70em;
    margin: 3em auto 3em auto;
    background-color: rgb(243, 243, 243);
    padding-bottom: 3em;
    
}

#contenido img {
    width: 300px;
    height: 300px;
}

#pie {
    margin: .8em 0 0 0;
    background-color: rgb(189, 3, 3);
    text-align: center; 
    font-size: 1.3em;
    font-weight: bold;
    padding: 1.3em;
    color: white;
}

.encabezadoPagina {
    text-align: center;
    color: white;
    padding: 50px;
}

.encabezadoArticulo {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 15px;
}

.texto {
    text-align: justify;
    margin: 1em;
    font-size: large;
}